<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NID system</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    
</head>
<body>

    <header>
        <h1>Network Intrusion Detection UI</h1>
        <nav>
            <a href="#about">About</a>
            
            <a href="#detection">Detection</a>
        </nav>
    </header>

    <section class="content" id="detection">
        <h2>Detect Intrusion</h2>

        
         
            <div class="top">
                <div class="top-left">
                    
                    <p><strong>Choose Network Ty<span title="This field is mandatory">pe * (Mandatory) : </span></strong> <select id="interfaceDropdown">
                        <option value="Null" selected disabled>-- Select Network Interface --</option> 
                        {% for interface in interfaces %}
                            <option value="{{ interface }}">{{ interface }}</option>
                        {% endfor %}
                    </select>
                    </p>
                    <p><strong>Current Selected Network:</strong> <span id="selectedInterface">Null</span></p>
                    <p><strong>System IP Address:</strong> <span id="system-ip">Loading...</span></p>
                    <p><strong>No. of Packets Scanned:</strong> <span id="packet-count">0</span></p>
                    <p><strong>Start Time: </strong> <span id="start-time">Not Started</span></p>
                    <p><strong>End Time: </strong> <span id="end-time">Not Stopped</span></p>
                    <p><strong>Duration: </strong> <span id="duration">0s</span></p>
                    <button id="startButton" onclick="startCapture()">Start Packet Capture</button>
                    <button style="background: red;" onclick="stopCapture()">Stop Packet Capture</button>
                </div>
                <div class="top-right">
                    <p><strong>Anomaly Traffic Table: </strong></p>
                    <div style=" max-height: 420px; ; overflow-y: auto; margin-top: 10px; " id="anomaly-container"></div>

                </div>

                <div class="top-right">
                    <p><strong>Blocked IP Addresses: </strong></p>
                    <div style=" max-height: 420px; ; overflow-y: auto; margin-top: 10px; " id="blocked-container"></div>

                </div>
            </div>

            <div class="top">
                
                <div class="top-right">
                    <p><strong>Live Line Graph with packets length for Anomaly only</strong></p>                   
                    <div style="max-width: 100%;" id="live-graph"></div>
                    
                </div>

                <div class="top-right">
                    <p><strong>Pie Graph</strong></p>
                    <div id="pie-chart"></div>
                </div>
                
            </div>

            


            <div class="top">
                
                <div class="top-left">
                    <p><strong></strong></p>
                    <p>Live Packets</p>
                    <button onclick="downloadCSVFile()">Download CSV Report</button>
                    <div style=" max-height: 385px; ; overflow-y: auto; margin-top: 10px; " id="packet-container"></div>

                    <script src="{{ url_for('static', filename='js/script.js') }}">
                        
                    </script>

                </div>
                
            </div>
        
        
    </section>

    <footer>
        <p>Note: Intrusion Detection Model provides above 90% of Accuracy.<br>This Model is not 100% Accurate.</p>
    </footer>

</body>
</html>
